<footer class="footer">
  <div class="footer__container container">
    <div class="footer__logo-wrapper">
      <a class="footer__logo" href="index.html" title="На главную страницу" aria-label="На главную страницу">
        <svg width="128" height="24">
          <use xlink:href="images/sprite.svg#logo-footer"></use>
        </svg>
      </a>
    </div>
    <div class="footer__social social">
      <ul class="social__list">
        <li class="social__item">
          <a class="social__link social__link--vk" href="https://vk.com" aria-label="Наша группа ВКонтакте" title="Наша группа ВКонтакте" target="_blank" rel="nofollow noopener"></a>
        </li>
        <li class="social__item">
          <a class="social__link social__link--youtube" href="https://www.youtube.com" aria-label="Наш канал в YouTube" title="Наш канал в YouTube" target="_blank" rel="nofollow noopener"></a>
        </li>
        <li class="social__item">
          <a class="social__link social__link--telegram" href="https://t.me" aria-label="Наш канал в Телеграм" title="Наш канал в Телеграм" target="_blank" rel="nofollow noopener"></a>
        </li>
        <li class="social__item">
          <a class="social__link social__link--github" href="https://github.com/NemtsevK/cat-energy" aria-label="Исходный код в GitHub" title="Исходный код в GitHub" target="_blank" rel="nofollow noopener"></a>
        </li>
      </ul>
    </div>
    <div class="footer__copyright copyright">
      <a class="copyright__link copyright__link--developer" href="http://nemtsevk.ru" aria-label="Разработчик Константин Немцев" title="Разработчик Константин Немцев" target="_blank" rel="nofollow noopener"></a>
      <a class="copyright__link copyright__link--design" href="https://htmlacademy.ru" aria-label="Макет от HTML Academy" title="Макет от HTML Academy" target="_blank" rel="nofollow noopener"></a>
    </div>
  </div>
</footer>
