<section class="main__location location {% if currentPage !== 'index' %}location--secondary{% endif %}">
  <h2 class="visually-hidden">Наш адрес</h2>
  <div class="container container--narrow">
    <div class="location__address">
      <h3 class="location__title">Приглашаем к&nbsp;сотрудничеству Дилеров!</h3>
      <p class="location__text-content">
        <span class="location__text">ул. Большая Конюшенная, д. 19/8</span>
        <span class="location__text">Санкт-Петербург</span>
      </p>
    </div>
  </div>
  <div class="location__map-wrapper">
    <iframe class="location__map location__map--nojs" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1998.6037876728633!2d30.320472477571876!3d59.93871647491507!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696310fca145cc1%3A0x42b32648d8238007!2z0JHQvtC70YzRiNCw0Y8g0JrQvtC90Y7RiNC10L3QvdCw0Y8g0YPQuy4sIDE5LzgsINCh0LDQvdC60YIt0J_QtdGC0LXRgNCx0YPRgNCzLCAxOTExODY!5e0!3m2!1sru!2sru!4v1691783648602!5m2!1sru!2sru" width="320" height="362" allowfullscreen="" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <noscript>
      <picture>
        <source type="image/webp" srcset="images/content/location-desktop.webp, images/content/location-desktop@2x.webp 2x" media="(min-width: 1440px)">
        <source type="image/webp" srcset="images/content/location-tablet.webp, images/content/location-tablet@2x.webp 2x" media="(min-width: 768px)">
        <source type="image/webp" srcset="images/content/location-mobile.webp, images/content/location-mobile@2x.webp 2x">
        <source srcset="images/content/location-desktop.png, images/content/location-desktop@2x.png 2x" media="(min-width: 1440px)">
        <source srcset="images/content/location-tablet.png, images/content/location-tablet@2x.png 2x" media="(min-width: 768px)">
        <img class="location__map-image" src="images/content/location-mobile.png" srcset="images/content/location-mobile@2x.png 2x" width="320" height="362" alt="Карта">
      </picture>
    </noscript>
  </div>
</section>
