@use "../base/variables" as *;

.copyright {
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 24px;
  padding: 20px 0 0;

  @media (min-width: $tablet) {
    justify-content: end;
    padding: 0;
  }
}

.copyright__link {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet) {
    width: auto;
    gap: 23px;
    justify-content: flex-end;
  }

  &:hover::before {
    background-color: $primary-color;
  }

  &:active::before {
    opacity: 0.3;
  }

  &::before {
    content: "";
    background-color: $grey-dim;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  &--developer::before {
    mask-image: url("../images/sprite.svg#nemtsevk");
    width: 30px;
    height: 30px;
  }

  &--design::before {
    mask-image: url("../images/sprite.svg#html-academy");
    width: 27px;
    height: 34px;
  }
}
