<!DOCTYPE html>
{% set currentPage = 'catalog' %}
<html class="page" lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="og:title" content="Каталог продукции «Кэт энерджи»">
  <meta name="og:description" content="«Кэт энерджи» — интернет-магазин, который поможет подобрать и заказать питание для вашего кота">
  <meta name="og:image" content="images/content/top-eat-desktop.png">
  <meta property="og:url" content="https://nemtsev-k.github.io/cat-energy/catalog.html">
  <meta name="robots" content="index, follow">
  <title>Каталог продукции «Кэт энерджи»</title>
  {% include 'templates/_head.html' %}
</head>
<body class="page__body">
{% include 'templates/_header.html' %}
<main class="main">
  <section class="main__product-catalog product-catalog">
    <div class="product-catalog__container container">
      <h1 class="product-catalog__title title-h1">Каталог продукции</h1>
      <ul class="product-catalog__list">
        <li class="product-item">
          <a class="product-item__image-wrapper" href="#">
            <picture>
              <source type="image/webp" srcset="images/catalog/product-1-tablet.webp, images/catalog/product-1-tablet@2x.webp 2x" media="(min-width: 768px)">
              <source type="image/webp" srcset="images/catalog/product-1-mobile.webp, images/catalog/product-1-mobile@2x.webp 2x">
              <source srcset="images/catalog/product-1-tablet.png, images/catalog/product-1-tablet@2x.png 2x" media="(min-width: 768px)">
              <img class="product-item__image" src="images/catalog/product-1-mobile.png" srcset="images/catalog/product-1-mobile@2x.png 2x" width="68" height="86" alt="Cat Energy Pro 500">
            </picture>
          </a>
          <a class="product-item__title-link" href="#">
            <h3 class="product-item__title">Cat Energy Pro 500&#160;г</h3>
          </a>
          <dl class="product-item__parameters">
            <div class="product-item__row">
              <dt class="product-item__key">Масса</dt>
              <dd class="product-item__value">500 г</dd>
            </div>
            <div class="product-item__row">
              <dt class="product-item__key">Вкус</dt>
              <dd class="product-item__value">Курица</dd>
            </div>
            <div class="product-item__row">
              <dt class="product-item__key">Цена</dt>
              <dd class="product-item__value">700 ₽</dd>
            </div>
          </dl>
          <a class="product-item__button button" href="#">Заказать</a>
        </li>
        <li class="product-item">
          <a class="product-item__image-wrapper" href="#">
            <picture>
              <source type="image/webp" srcset="images/catalog/product-2-tablet.webp, images/catalog/product-2-tablet@2x.webp 2x" media="(min-width: 768px)">
              <source type="image/webp" srcset="images/catalog/product-2-mobile.webp, images/catalog/product-2-mobile@2x.webp 2x">
              <source srcset="images/catalog/product-2-tablet.png, images/catalog/product-2-tablet@2x.png 2x" media="(min-width: 768px)">
              <img class="product-item__image" src="images/catalog/product-2-mobile.png" srcset="images/catalog/product-2-mobile@2x.png 2x" width="84" height="100" alt="Cat Energy Pro 1000">
            </picture>
          </a>
          <a class="product-item__title-link" href="#">
            <h3 class="product-item__title">Cat Energy Pro 1000&#160;г</h3>
          </a>
          <dl class="product-item__parameters">
            <div class="product-item__row">
              <dt class="product-item__key">Масса</dt>
              <dd class="product-item__value">1000 г</dd>
            </div>
            <div class="product-item__row">
              <dt class="product-item__key">Вкус</dt>
              <dd class="product-item__value">Курица</dd>
            </div>
            <div class="product-item__row">
              <dt class="product-item__key">Цена</dt>
              <dd class="product-item__value">1000 ₽</dd>
            </div>
          </dl>
          <a class="product-item__button button" href="#">Заказать</a>
        </li>
        <li class="product-item">
          <a class="product-item__image-wrapper" href="#">
            <picture>
              <source type="image/webp" srcset="images/catalog/product-3-tablet.webp, images/catalog/product-3-tablet@2x.webp 2x" media="(min-width: 768px)">
              <source type="image/webp" srcset="images/catalog/product-3-mobile.webp, images/catalog/product-3-mobile@2x.webp 2x">
              <source srcset="images/catalog/product-3-tablet.png, images/catalog/product-3-tablet@2x.png 2x" media="(min-width: 768px)">
              <img class="product-item__image" src="images/catalog/product-3-mobile.png" srcset="images/catalog/product-3-mobile@2x.png 2x" width="68" height="78" alt="Cat Energy Pro 700">
            </picture>
          </a>
          <a class="product-item__title-link" href="#">
            <h3 class="product-item__title">Cat Energy Pro 500&#160;г</h3>
          </a>
          <dl class="product-item__parameters">
            <div class="product-item__row">
              <dt class="product-item__key">Масса</dt>
              <dd class="product-item__value">500 г</dd>
            </div>
            <div class="product-item__row">
              <dt class="product-item__key">Вкус</dt>
              <dd class="product-item__value">Рыба</dd>
            </div>
            <div class="product-item__row">
              <dt class="product-item__key">Цена</dt>
              <dd class="product-item__value">700 ₽</dd>
            </div>
          </dl>
          <a class="product-item__button button" href="#">Заказать</a>
        </li>
        <li class="product-item">
          <a class="product-item__image-wrapper" href="#">
            <picture>
              <source type="image/webp" srcset="images/catalog/product-4-tablet.webp, images/catalog/product-4-tablet@2x.webp 2x" media="(min-width: 768px)">
              <source type="image/webp" srcset="images/catalog/product-4-mobile.webp, images/catalog/product-4-mobile@2x.webp 2x">
              <source srcset="images/catalog/product-4-tablet.png, images/catalog/product-4-tablet@2x.png 2x" media="(min-width: 768px)">
              <img class="product-item__image" src="images/catalog/product-4-mobile.png" srcset="images/catalog/product-4-mobile@2x.png 2x" width="84" height="100" alt="Cat Energy Pro 1000">
            </picture>
          </a>
          <a class="product-item__title-link" href="#">
            <h3 class="product-item__title">Cat Energy Pro 1000&#160;г</h3>
          </a>
          <dl class="product-item__parameters">
            <div class="product-item__row">
              <dt class="product-item__key">Масса</dt>
              <dd class="product-item__value">1000 г</dd>
            </div>
            <div class="product-item__row">
              <dt class="product-item__key">Вкус</dt>
              <dd class="product-item__value">Рыба</dd>
            </div>
            <div class="product-item__row">
              <dt class="product-item__key">Цена</dt>
              <dd class="product-item__value">1000 ₽</dd>
            </div>
          </dl>
          <a class="product-item__button button" href="#">Заказать</a>
        </li>
        <li class="product-item">
          <a class="product-item__image-wrapper" href="#">
            <picture>
              <source type="image/webp" srcset="images/catalog/product-5-tablet.webp, images/catalog/product-5-tablet@2x.webp 2x" media="(min-width: 768px)">
              <source type="image/webp" srcset="images/catalog/product-5-mobile.webp, images/catalog/product-5-mobile@2x.webp 2x">
              <source srcset="images/catalog/product-5-tablet.png, images/catalog/product-5-tablet@2x.png 2x" media="(min-width: 768px)">
              <img class="product-item__image" src="images/catalog/product-5-mobile.png" srcset="images/catalog/product-5-mobile@2x.png 2x" width="68" height="78" alt="Cat Energy Slim 700">
            </picture>
          </a>
          <a class="product-item__title-link" href="#">
            <h3 class="product-item__title">Cat Energy Slim 500&#160;г</h3>
          </a>
          <dl class="product-item__parameters">
            <div class="product-item__row">
              <dt class="product-item__key">Масса</dt>
              <dd class="product-item__value">500 г</dd>
            </div>
            <div class="product-item__row">
              <dt class="product-item__key">Вкус</dt>
              <dd class="product-item__value">Гречка</dd>
            </div>
            <div class="product-item__row">
              <dt class="product-item__key">Цена</dt>
              <dd class="product-item__value">400 ₽</dd>
            </div>
          </dl>
          <a class="product-item__button button" href="#">Заказать</a>
        </li>
        <li class="product-item">
          <a class="product-item__image-wrapper" href="#">
            <picture>
              <source type="image/webp" srcset="images/catalog/product-6-tablet.webp, images/catalog/product-6-tablet@2x.webp 2x" media="(min-width: 768px)">
              <source type="image/webp" srcset="images/catalog/product-6-mobile.webp, images/catalog/product-6-mobile@2x.webp 2x">
              <source srcset="images/catalog/product-6-tablet.png, images/catalog/product-6-tablet@2x.png 2x" media="(min-width: 768px)">
              <img class="product-item__image" src="images/catalog/product-6-mobile.png" srcset="images/catalog/product-6-mobile@2x.png 2x" width="84" height="100" alt="Cat Energy Slim 1000">
            </picture>
          </a>
          <a class="product-item__title-link" href="#">
            <h3 class="product-item__title">Cat Energy Slim 1000&#160;г</h3>
          </a>
          <dl class="product-item__parameters">
            <div class="product-item__row">
              <dt class="product-item__key">Масса</dt>
              <dd class="product-item__value">1000 г</dd>
            </div>
            <div class="product-item__row">
              <dt class="product-item__key">Вкус</dt>
              <dd class="product-item__value">Гречка</dd>
            </div>
            <div class="product-item__row">
              <dt class="product-item__key">Цена</dt>
              <dd class="product-item__value">700 ₽</dd>
            </div>
          </dl>
          <button class="product-item__button button">Заказать</button>
        </li>
        <li class="product-item">
          <a class="product-item__image-wrapper" href="#">
            <picture class="product-item__image-wrapper">
              <source type="image/webp" srcset="images/catalog/product-7-tablet.webp, images/catalog/product-7-tablet@2x.webp 2x" media="(min-width: 768px)">
              <source type="image/webp" srcset="images/catalog/product-7-mobile.webp, images/catalog/product-7-mobile@2x.webp 2x">
              <source srcset="images/catalog/product-7-tablet.png, images/catalog/product-7-tablet@2x.png 2x" media="(min-width: 768px)">
              <img class="product-item__image" src="images/catalog/product-7-mobile.png" srcset="images/catalog/product-7-mobile@2x.png 2x" width="72" height="84" alt="Cat Energy Slim 700">
            </picture>
          </a>
          <a class="product-item__title-link" href="#">
            <h3 class="product-item__title">Cat Energy Slim 500&#160;г</h3>
          </a>
          <dl class="product-item__parameters">
            <div class="product-item__row">
              <dt class="product-item__key">Масса</dt>
              <dd class="product-item__value">500 г</dd>
            </div>
            <div class="product-item__row">
              <dt class="product-item__key">Вкус</dt>
              <dd class="product-item__value">Рис</dd>
            </div>
            <div class="product-item__row">
              <dt class="product-item__key">Цена</dt>
              <dd class="product-item__value">500 ₽</dd>
            </div>
          </dl>
          <a class="product-item__button button" href="#">Заказать</a>
        </li>
        <li class="product-item product-item--more">
          <div class="product-item__image-wrapper product-item__image-wrapper--more">
            <div class="product-item__icon"></div>
          </div>
          <h3 class="product-item__title product-item__title--more">Показать ещё 100500 товаров</h3>
          <p class="product-item__text">На самом деле вкусов гораздо больше!</p>
          <a class="product-item__button product-item__button--more button" href="#">Показать все</a>
        </li>
      </ul>
    </div>
  </section>
  <section class="main__extra-goods extra-goods">
    <div class="extra-goods__title title-wrapper">
      <h2 class="title-h2">Дополнительные товары</h2>
    </div>
    <div class="container">
      <div class="extra-goods__wrapper">
        <ul class="extra-goods__list">
          <li class="extra-goods__item extra-item">
            <h3 class="extra-item__title">Сахарозаменитель</h3>
            <div class="extra-item__characteristics">
              <span>1 упаковка (100 г)</span>
              <span class="extra-item__value">200 ₽</span>
            </div>
            <a class="extra-item__button button" href="#">Заказать</a>
          </li>
          <li class="extra-goods__item extra-item">
            <h3 class="extra-item__title">Питьевая вода</h3>
            <div class="extra-item__characteristics">
              <span>5 литров</span>
              <span class="extra-item__value">50 ₽</span>
            </div>
            <a class="extra-item__button button" href="#">Заказать</a>
          </li>
          <li class="extra-goods__item extra-item">
            <h3 class="extra-item__title">Молоко</h3>
            <div class="extra-item__characteristics">
              <span>1 литр</span>
              <span class="extra-item__value">100 ₽</span>
            </div>
            <a class="extra-item__button button" href="#">Заказать</a>
          </li>
          <li class="extra-goods__item extra-item">
            <h3 class="extra-item__title">Витамины</h3>
            <div class="extra-item__characteristics">
              <span>1 упаковка (30 г)</span>
              <span class="extra-item__value">300 ₽</span>
            </div>
            <a class="extra-item__button button" href="#">Заказать</a>
          </li>
        </ul>
        <div class="gift">
          <p class="gift__text">Закажите всё и&nbsp;получите чехол для кота в подарок!</p>
        </div>
      </div>
    </div>
  </section>
  {% include 'templates/_location.html' %}
</main>
{% include 'templates/_footer.html' %}
<script src="js/catalog.js" type="module"></script>
</body>
</html>
