<!DOCTYPE html>
{% set currentPage = 'form' %}
<html class="page" lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="og:title" content="Подбор программы «Кэт энерджи»">
  <meta name="og:description" content="«Кэт энерджи» — интернет-магазин, который поможет подобрать и заказать питание для вашего кота">
  <meta name="og:image" content="images/content/top-eat-desktop.png">
  <meta property="og:url" content="https://nemtsev-k.github.io/cat-energy/catalog.html">
  <meta name="robots" content="index, follow">
  <title>Подбор программы «Кэт энерджи»</title>
  {% include 'templates/_head.html' %}
</head>
<body class="page__body">
{% include 'templates/_header.html' %}
<main class="main">
  <section class="main__program-selection">
    <form class="form" id="program" novalidate>
      <div class="form__container container container--narrow">
        <h1 class="form__title title-h1">Подбор программы</h1>
        <p class="form__description">Заполните анкету, и мы подберём программу питания для вашего кота</p>
        <fieldset class="form__input-area">
          <div class="form__field-text">
            <label class="form__label-text" for="program-name">Имя:*</label>
            <input class="form__input-text" name="name" id="program-name" value="Барсик" required>
            <span class="form__error-text" id="program-name-error"></span>
          </div>
          <div class="form__field-text">
            <label class="form__label-text" for="program-weight">Вес (кг):*</label>
            <input class="form__input-text form__input-text--digit" name="weight" id="program-weight" value="7" required>
            <span class="form__error-text" id="program-weight-error"></span>
          </div>
          <div class="form__field-text">
            <label class="form__label-text" for="program-age">Возраст (лет):</label>
            <input class="form__input-text form__input-text--digit" name="age" id="program-age" value="7">
            <span class="form__error-text" id="program-age-error"></span>
          </div>
        </fieldset>
        <fieldset class="form__radio-area">
          <div class="form__field-radio">
            <input class="form__input-radio" type="radio" name="program-type" id="program-weight-loss">
            <label class="form__label-radio form__label-text" for="program-weight-loss">Похудение</label>
          </div>
          <div class="form__field-radio">
            <input class="form__input-radio" type="radio" name="program-type" id="program-weight-gain">
            <label class="form__label-radio form__label-text" for="program-weight-gain">Набор массы</label>
          </div>
          <div class="form__field-radio">
            <input class="form__input-radio" type="radio" name="program-type" id="program-unknown">
            <label class="form__label-radio form__label-text" for="program-unknown">Не знаю (нужен ваш совет)</label>
          </div>
          <span class="form__error-switch" id="program-type-error"></span>
        </fieldset>
      </div>
      <fieldset class="form__proprietor-area">
        <div class="form__proprietor-title title-wrapper">
          <h2 class="title-wrapper__inside title-h2">Контактные данные (владельца кота)</h2>
        </div>
        <div class="form__proprietor-container container container--narrow">
          <div class="form__area-text">
            <div class="form__field-text">
              <label class="form__label-text" for="program-email">E-mail:*</label>
              <div class="form__input-text-content">
                <input class="form__input-text form__input-text--with-icon " type="email" name="email" id="program-email" value="kuklachev@gmail.com" required>
                <div class="form__input-icon form__input-icon--email"></div>
              </div>
              <span class="form__error-text" id="program-email-error"></span>
            </div>
            <div class="form__field-text">
              <label class="form__label-text" for="program-phone">Телефон:*</label>
              <div class="form__input-text-content">
                <input class="form__input-text form__input-text--with-icon" type="tel" name="phone" id="program-phone" value="8 (960) 900-60-90" required>
                <div class="form__input-icon form__input-icon--phone"></div>
              </div>
              <span class="form__error-text" id="program-phone-error"></span>
            </div>
          </div>
        </div>
      </fieldset>
      <fieldset class="form__comment-area">
        <div class="form__comment-title title-wrapper">
          <h2 class="title-h2">Комментарий</h2>
        </div>
        <div class="form__comment-container container container--narrow">
          <textarea class="form__textarea form__input-text" name="comment" id="program-comment" placeholder="Расскажите обо всех повадках кота" aria-label="Комментарий" rows="5"></textarea>
          <span class="form__error-text" id="program-comment-error"></span>
        </div>
      </fieldset>
      <fieldset class="form__extra-area">
        <div class="form__extra-title title-wrapper">
          <h2 class="title-h2">Дополнительно</h2>
        </div>
        <div class="form__extra-container container container--narrow">
          <div class="form__checkbox-area">
            <div class="form__field-checkbox">
              <input class="form__input-checkbox" type="checkbox" name="additionally" id="program-sweetener" checked>
              <label class="form__label-checkbox form__label-text" for="program-sweetener">Сахарозаменитель</label>
            </div>
            <div class="form__field-checkbox">
              <input class="form__input-checkbox" type="checkbox" name="additionally" id="program-water">
              <label class="form__label-checkbox form__label-text" for="program-water">Питьевая вода</label>
            </div>
            <div class="form__field-checkbox">
              <input class="form__input-checkbox" type="checkbox" name="additionally" id="program-milk">
              <label class="form__label-checkbox form__label-text" for="program-milk">Молоко</label>
            </div>
            <div class="form__field-checkbox">
              <input class="form__input-checkbox" type="checkbox" name="additionally" id="program-vitamins">
              <label class="form__label-checkbox form__label-text" for="program-vitamins">Витамины</label>
            </div>
          </div>
          <span class="form__error-switch" id="program-vitamins-error"></span>
        </div>
      </fieldset>
      <div class="form__footer">
        <div class="form__footer-container container container--narrow">
          <button class="form__button button">Отправить заявку</button>
          <div class="form__required">
            <span class="form__required-text">* — Обязательные поля</span>
          </div>
        </div>
      </div>
    </form>
  </section>
  {% include 'templates/_location.html' %}
</main>
{% include 'templates/_footer.html' %}
<dialog class="modal" id="modal" aria-label="Информация">
  <div class="modal__inner">
    <div class="modal__text"></div>
    <button class="modal__button button button--second">ОК</button>
  </div>
</dialog>
<script src="js/form.js" type="module"></script>
</body>
</html>
